body {
    background-image:    url(background_about_cart214.jpg);
    background-size:     cover;                      /* <------ */
    cursor:help;    
}
.container {
    display:flex;
    justify-content:center;
    margin-top: 10%;
  }
  .container > div {
    margin:20px;
    background-color:white;
    opacity: .80;
  }
  .academic {
    width:400px;
    line-height: 4;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left; 
  }
  .description {
    width:450px;
    line-height: 1.4;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
  }
 h3 {
      font-size: 24px;
      margin-top: -8.7px;
  }