@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i|Suez+One');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif; 
    /* overflow: hidden; */
}
.page1, .page2, .page3, .page4 {
    position: relative;
    height: 100%;
    width: 100%;
}
.page1 {
    padding-top: 15%; 
}
.title {
    text-align: center;
    position: relative;
    font-family: 'Suez One', serif;
    margin: 0;
    /* margin-top:-50%;  */
}
.title h1 { 
    font-size: 6vw;
    margin: 0
}
.title h3 { 
    font-size: 3vw;
    margin: 0;
}
.nav {
    text-align: center;
    position: relative;
    margin-top: 3%;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav ul li {
    display: inline-block;
}

.nav ul li a {
    color: black;
    font-size: 2.5vw;
    display: block;
    padding: 16px;
    text-decoration: none;
}
.nav ul li:hover {
    background-color: yellow;
}
#lof {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#ar {
    text-align: center;
    padding: 10% 0;
}
.page3 img { 
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
#porfolio {
    text-align: center;
    position: relative;
    top:20%;
}
#porfolio ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#porfolio ul li a {
    color: black;
    text-decoration: none;
    line-height: 1.6;
}
#porfolio ul p {
    font-style: italic;
}
#porfolio ul li a:hover {
    background-color: yellow;
}
#start {
    font-size: 6vw;
}